################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACHSimulartor/.vs/ACHSimulartor/v17/DocumentLayout.backup.json
